/* 从Google Fonts导入了名为"Muli"的字体 */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

/* 定义两个CSS变量，分别用于进度条填充颜色和边框颜色 */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #383838;

}

/* 通配选择器，用于选择所有元素。使所有元素的宽度和高度包括内边距(padding)和边框(border)，这有助于更容易地管理布局。 */
* {
  box-sizing: border-box;
}

/* 设置背景颜色、字体、布局方式（flex布局居中显示）、视口高度、隐藏溢出内容和边距 */
body {
  background-color: #1f1f1f;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* 为类名为'container'的元素设置文本居中 */
.container {
  text-align: center;
}

/* 设置进度条容器的样式，包括布局和位置 */
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* 设置进度条容器的样式，包括布局和位置, '::before' 伪元素用于创建进度条背景 */
.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

/* 用于进度条的样式设置，包括颜色、位置、大小和过渡效果 */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

/* 为步骤指示器的圆圈设置样式 */
.circle {
  background-color: #1f1f1f;
  color:#e2e2e2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

/* 改变活动步骤的边框颜色 */
.circle.active {
  border-color: var(--line-border-fill);
}

/* 定义按钮的样式，包括背景颜色、边框、圆角、字体、大小和间距 */
.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
